/**
 * @name: style.css
 * @author: Pyanyaleri
 * @description: My janky CSS implementation since I'm *NOT* a web developer.
 *
 */

/* Variable Declarations */
:root {
  /* Colours */
  --darkUI: #23262e;
  --lightUI: #383d4a;
  --darkestBlue: #0e131a;
  --darkBlue: #1a73e8;
  --blue: #1a9fff;
  --white: #efefef;
  --green: #03ff6c;
  --darkGreen: #4caf50;
  --red: #f44336;
  --orange: #ff9800;
  --yellow: #ebd234;
  --lightestGray: #90959e;

  --defaultBorder: 2px solid var(--lightestGray);
}

html {
  background-color: var(--lightUI);
  background-image: url("/assets/back_plain.png");
  image-rendering: pixelated;
  font-size: 12pt;
  font-family: "Josefin Sans", sans-serif;
}

.center {
  display: block;
  margin: 0 auto;
  width: 50%;
}

body {
  background-color: var(--darkUI);
  color: var(--white);
  margin: 40px auto;
  width: 85%;
  max-width: 1800px;
  text-align: center;
  border: 3px solid var(--blue);
  border-radius: 12px 12px 0 0;
}

footer {
  background: var(--lightUI);
  border-top: var(--defaultBorder);
  font-size: 9pt;
  padding-bottom: 1px;

  & p {
    padding: 0;
  }
}

h1 {
  font-size: 30pt;
  margin: 10px 10px auto auto;
  padding: 5px;
  padding-top: 10px;
}

h2 {
  font-size: 16pt;
  text-align: left;
  margin: 0 0 0 10px;
  padding: 5px;
  padding-top: 10px;
}

h3 {
  font-size: 14pt;
  color: var(--lightestGray);
  padding-top: 20px;
  padding-left: 50px;
  border-top: 1px solid var(--lightestGray);
}

ul,
li {
  list-style-type: square;
  text-align: left;
  list-style: inside;
}

p {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 5px;
}

/* Link colours */
a {
  text-decoration: underline;

  &:link {
    color: var(--blue);
  }

  &:visited {
    color: var(--green);
  }

  &:hover {
    color: var(--yellow);
  }

  &:active {
    color: var(--orange);
  }
}

.menu {
  text-align: center;

  & table {
    font-size: 15pt;
    padding-top: 20px;
    border-spacing: 10px;
    margin: 0 auto;
  }

  & th {
    border: var(--defaultBorder);
    border-radius: 8px 8px 0 0;
    background-color: var(--darkestBlue);
    position: relative;
    padding: 5px;

    &:hover {
      border: 2px solid var(--blue);
    }
  }

  & a {
    color: var(--white);
    text-decoration: none;

    &:active {
      color: var(--lightestGray);
    }
  }
}

/* Specific Sections */

#pfp {
  border: var(--defaultBorder);
  width: 200px;
  margin-top: 10px;
}

.asciiArt {
  text-align: left;
  font-family: Terminus, Hermit, monospace;

  & pre {
    background-color: var(--darkestBlue);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

.links {
  & p {
    padding: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
}

.window {
  background-color: var(--darkestBlue);
  border: var(--defaultBorder);
  width: 70%;
  margin: 30px auto;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
  text-align: left;

  &:hover {
    border: 2px solid var(--blue);
  }
}

.titlebar {
  border-bottom: var(--defaultBorder);
  text-shadow: 2px 2px 5px var(--darkestBlue);
}

#toc {
  background-color: var(--darkestBlue);
  font-size: 12pt;
  text-align: left;
  margin: 10px auto;
  font-weight: bold;

  & ul,
  li {
    list-style-type: square;
    line-height: 25px;
  }
}

.titlebar-blue {
  background: var(--darkBlue);
}

.titlebar-red {
  background: var(--red);
}

.titlebar-green {
  background: var(--darkGreen);
}

.titlebar-orange {
  background: var(--orange);
}

.titlebar-top {
  background: var(--lightUI);
  margin: -10px 0 auto auto;
  border-radius: 12px 12px 0 0;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 11pt;
  }

  body {
    margin: 10px auto;
    width: 92%;
  }

  h1 {
    font-size: 20pt;
  }

  h2 {
    font-size: 13pt;
  }

  h3 {
    font-size: 12pt;
    color: var(--lightestGray);
    padding-top: 10px;
    padding-left: 30px;
  }

  .menu {
    text-align: center;

    & table {
      font-size: 13pt;
      padding-top: 10px;
      border-spacing: 5px;
    }

    & th {
      padding: 3px;
    }
  }

  #pfp {
    border: var(--defaultBorder);
    width: 40%;
    margin-top: 10px;
  }

  .window {
    width: 85%;
    margin: 15px auto;
  }
}